.scrollup {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  left: 10px;
  bottom: 100px;

  opacity: 0.9;
  background: #fff;
  cursor: pointer;
  z-index: 50;

  width: 80px;
  height: 80px;
  border: 3px solid #ff8900 ;

  span{
    display: block;
    margin-top: 50%;
    color: #ff8900;
    font-size: 14px;
    text-transform: uppercase;
  }

  &:before{
    content: '';
    position: absolute;
    left: 50%;
    top: 25%;
    height: 2px;
    background: #ff8900;
    transition: .4s;
    transform-origin: top left;
    transform: rotate(45deg);
    width: 25px;
  }

  &:after{
    content: '';
    position: absolute;
    left: 26%;
    top: auto;
    height: 2px;
    background: #ff8900;
    transition: .4s;
    transform-origin: bottom left;
    transform: rotate(-45deg);
    width: 25px;
  }


  &:hover {
    background: #fff;
    opacity: 1;
    border-color: #ffc925;

    span{
      color: #ffc925;
    }

    &:before,
    &:after{
      background: #ffc925;
    }
   }
}
