.products
  .container
    .row.justify-content-between
      .col-3
        h2.bottomtitle.products__title
          span Карточки товаров
      .col-2.products__catlink
        a.d-flex.justify-content-end(href='#') Ссылка в каталог
    .row.justify-content-between
      .col-3.product
        .product__mark Mark
        a.product__title(href='#')
        | Антифриз Fosser Antifreeze FA 12 Readymix 1 л Concentrat, Germany
        .product__info
          .product__rating
            img(src='./images/product/star_active.png')
            img(src='./images/product/star_active.png')
            img(src='./images/product/star_active.png')
            img(src='./images/product/star_active.png')
            img(src='./images/product/star_active.png')
          a.product__comments(href='#') Отзывы (10)
          .product__quantity В наличии: 24 шт.
        .d-dlex.justify-content-between.char__image
          .d-flex.char__list
            .product__season
              img(src='./images/item_season1.png')
            .product__type
              img(src='./images/item_type1.png')
            .product__cond
              img(src='./images/item_cond1.png')
          .product__pic
            img(src='./images/product1.jpg')
      .col-3.product
      .col-3.product
      .col-3.product
