.products
  .container
    .row.justify-content-between
      .col-6
        h2.bottomtitle.products__title
          span Карточки товаров
      .col-6.products__catlink
        a Ссылка в каталог
    .row.products__list
      .col.col-sm-6.col-lg-4.col-xl-3.product
        a.product__mark(href='#') Mark
        a.product__title(href='#') Антифриз Fosser Antifreeze FA 12 Readymix 1 л Concentrat, Germany
        .product__info
          .product__rating
            span.ratedOn
            span.ratedOn
            span.ratedOn
            span.ratedOn
            span.ratedOn
          a.product__comments(href='#') Отзывы (10)
          .product__quantity В наличии: 24 шт.
        .product__preview
          ul.product__labels
            li.product__label
              img.product__labelIcon(src='./images/product/sun.png')
              .product__labelTitle Летняя
            li.product__label
              img.product__labelIcon(src='./images/product/car.png')
              .product__labelTitle Легковая
            li.product__label
              img.product__labelIcon(src='./images/product/new.png')
              .product__labelTitle Новая
          img.product__picture(src='./images/product1.jpg')
        .product__actions
          .product__action.product__action_new Новинка
          .product__action.product__action_hit Хит
          .product__action.product__action_discont Скидка
        .product__price
          .product__priceNew 599
            span &nbsp;грн.
          .product__priceOld 1 250
            span &nbsp;грн.
        button.product__buy
          img(src='./images/product/basket.png')
          span Купить товар
        ul.product__using
          li.product__usingItem
            a(href='#')
              img(src='./images/product/compare_product.png')
              span Сравнить товар
          li.product__usingItem
            a(href='#')
              img(src='./images/product/addproduct_tofavorite.png')
              span В избранное
      .col.col-sm-6.col-lg-4.col-xl-3.product
        a.product__mark(href='#') Mark
        a.product__title(href='#') Антифриз Fosser Antifreeze FA 12 Readymix 1 л Concentrat, Germany
        .product__info
          .product__rating
            span.ratedOn
            span.ratedOn
            span.ratedOn
            span.ratedOn
            span.ratedOn
          a.product__comments(href='#') Отзывы (10)
          .product__quantity В наличии: 24 шт.
        .product__preview
          ul.product__labels
            li.product__label
              img.product__labelIcon(src='./images/product/sun.png')
              .product__labelTitle Летняя
            li.product__label
              img.product__labelIcon(src='./images/product/car.png')
              .product__labelTitle Легковая
            li.product__label
              img.product__labelIcon(src='./images/product/new.png')
              .product__labelTitle Новая
          img.product__picture(src='./images/product2.png')
        .product__actions
          .product__action.product__action_new Новинка
          .product__action.product__action_hit Хит
          .product__action.product__action_discont Скидка
        .product__price
          .product__priceNew 599
            span &nbsp;грн.
          .product__priceOld 1 250
            span &nbsp;грн.
        button.product__buy
          img(src='./images/product/basket.png')
          span Купить товар
        ul.product__using
          li.product__usingItem
            a(href='#')
              img(src='./images/product/compare_product.png')
              span Сравнить товар
          li.product__usingItem
            a(href='#')
              img(src='./images/product/addproduct_tofavorite.png')
              span В избранное
      .col.col-sm-6.col-lg-4.col-xl-3.product
        a.product__mark(href='#') Mark
        a.product__title(href='#') Антифриз Fosser Antifreeze FA 12 Readymix 1 л Concentrat, Germany
        .product__info
          .product__rating
            span.ratedOn
            span.ratedOn
            span.ratedOn
            span.ratedOn
            span.ratedOn
          a.product__comments(href='#') Отзывы (10)
          .product__quantity В наличии: 24 шт.
        .product__preview
          ul.product__labels
            li.product__label
              img.product__labelIcon(src='./images/product/sun.png')
              .product__labelTitle Летняя
            li.product__label
              img.product__labelIcon(src='./images/product/car.png')
              .product__labelTitle Легковая
            li.product__label
              img.product__labelIcon(src='./images/product/new.png')
              .product__labelTitle Новая
          img.product__picture(src='./images/product3.jpg')
        .product__actions
          .product__action.product__action_new Новинка
          .product__action.product__action_hit Хит
          .product__action.product__action_discont Скидка
        .product__price
          .product__priceNew 599
            span &nbsp;грн.
          .product__priceOld 1 250
            span &nbsp;грн.
        button.product__buy
          img(src='./images/product/basket.png')
          span Купить товар
        ul.product__using
          li.product__usingItem
            a(href='#')
              img(src='./images/product/compare_product.png')
              span Сравнить товар
          li.product__usingItem
            a(href='#')
              img(src='./images/product/addproduct_tofavorite.png')
              span В избранное
      .col.col-sm-6.col-lg-4.col-xl-3.product
        a.product__mark(href='#') Mark
        a.product__title(href='#') Антифриз Fosser Antifreeze FA 12 Readymix 1 л Concentrat, Germany
        .product__info
          .product__rating
            span.ratedOn
            span.ratedOn
            span.ratedOn
            span.ratedOn
            span.ratedOn
          a.product__comments(href='#') Отзывы (10)
          .product__quantity В наличии: 24 шт.
        .product__preview
          ul.product__labels
            li.product__label
              img.product__labelIcon(src='./images/product/sun.png')
              .product__labelTitle Летняя
            li.product__label
              img.product__labelIcon(src='./images/product/car.png')
              .product__labelTitle Легковая
            li.product__label
              img.product__labelIcon(src='./images/product/new.png')
              .product__labelTitle Новая
          img.product__picture(src='./images/product4.jpg')
        .product__actions
          .product__action.product__action_new Новинка
          .product__action.product__action_hit Хит
          .product__action.product__action_discont Скидка
        .product__price
          .product__priceNew 599
            span &nbsp;грн.
          .product__priceOld 1 250
            span &nbsp;грн.
        button.product__buy
          img(src='./images/product/basket.png')
          span Купить товар
        ul.product__using
          li.product__usingItem
            a(href='#')
              img(src='./images/product/compare_product.png')
              span Сравнить товар
          li.product__usingItem
            a(href='#')
              img(src='./images/product/addproduct_tofavorite.png')
              span В избранное

