.products
  .container
    .row.justify-content-between
      .col-3
        h2.bottomtitle.products__title
          span Карточки товаров
      .col-2.products__catlink
        a.d-flex.justify-content-end(href='#') Ссылка в каталог
    .row.justify-content-between
      .col-3.product
        a.product__mark(href='#') Mark
        a.product__title(href='#') Антифриз Fosser Antifreeze FA 12 Readymix 1 л Concentrat, Germany
        .product__info
          .product__rating
            span.active
            span.active
            span.active
            span
            span
          a.product__comments(href='#') Отзывы (10)
          .product__quantity В наличии: 24 шт.
        .productTypePic
          ul.product__labels
            li.product__label
              .product__labelIcon
                img(src='./images/product/sun.png')
              .product__labelTitle Летняя
            li.product__label
              .product__labelIcon
                img(src='./images/product/car.png')
              .product__labelTitle Легковая
            li.product__label
              .product__labelIcon
                img(src='./images/product/new.png')
              .product__labelTitle Новая
          .product__pic
            img(src='./images/product1.jpg')
        .product__actions
          .product__actionsNew
            span.actions Новинка
          .product__actionsHit
            span.actions Хит
          .product__actionsDiscont
            span.actions Скидка
        .product__price
          .product__priceNew 599
            span &nbsp;грн.
          .product__priceOld 1 250
            span &nbsp;грн.
        button.product__buy
          img()
          span Купить товар
        ul.product__using
          li.product__usingItem
            a(href='#')
              img(src='./images/product/compare_product.png')
              span Сравнить товар
          li.product__usingItem
            a(href='#')
              img(src='./images/product/addproduct_tofavorite.png')
              span В избранное

      .col-3.product
      .col-3.product
      .col-3.product
