.button {
  min-height: 50px;
  padding: 12px 16px;
  border: 0;
  outline: 0;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #ff8900;
  transition:.2s;

  &:hover{
    opacity: .8;
  }
}
