.menu {
  padding-right: 0;

  @media (max-width: 1200px){
    width: 100vw;
    max-width: 320px;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: -320px;
    background: #fff;
    opacity: 1;
    transition: .4s;

    &.is-open{
      left: 0;
      z-index: 25;
    }
  }


&__header {
   height: 56px;
   background: #ffa900;
   display: flex;
}


&__toggle {
   position: relative;
   height: inherit;
   display: block;
   width: 60px;
   background: #db7200;

  span{
    position: absolute;
    left:23px;
    right:23px;
    top: 0; bottom: 0;
    height: 2px;
    margin: auto;
    background: #fff;
  }

  &:before{
    content: '';
    position: absolute;
    left: 23px;
    right: 27px;
    top: 23px;
    height: 2px;
    background: #fff;
    transition: .4s;
  }

  &:after{
    content:'';
    position: absolute;
    left: 23px;
    right: 30px;
    bottom: 23px;
    height: 2px;
    background: #fff;
    transition: .4s;
  }

  &_active{
    right:0;

    span{
      opacity:0;
    }

    &:before{
      left: 22px;
      top: 19px;
      transform-origin: top left;
      transform: rotate(45deg);
      width: 25px;
    }

    &:after{
      left: 22px;
      top: 36px;
      transform: rotate(-45deg);
      transform-origin: bottom left;
      width: 25px;
    }
  }
}

&__title {
   font-weight: 700;
   font-size: 20px;
   color: white;
   padding: 16px 0 0 23px;
 }

&__items {
   margin-top: 8px;

  @media(max-width: 1200px){

  }
 }

&__item {
   padding-left: 38px;
   padding-top: 18px;
   padding-bottom: 16px;
   border-bottom: 1px solid #f1f1f1;
   position: relative;

a{
  display: inline-block;
  font-size: 16px;
  line-height: 1;
  color:#3b3b3b;
  text-transform: uppercase;
  text-decoration: none;

&:after{
   content: url('../images/arrow.png');
   display: inline-block;
   padding-top: 2px;
   position: absolute;
   right: 36px;
   bottom: 16px;
 }
}

&:hover{
   background-color: #ccc;
 }
}
}
