.menu {
  padding-right: 0;

&__header {
   height: 56px;
   background: #ffa900;
   display: flex;
}


&__toggle {
   position: relative;
   height: inherit;
   display: block;
   width: 60px;
   background: #db7200;

img {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 23px;
  margin:  0 auto;
}
}

&__title {
   font-weight: 700;
   font-size: 20px;
   color: white;
   padding: 16px 0 0 23px;
 }

&__items {
   margin-top: 8px;
 }

&__item {
   padding-left: 38px;
   padding-top: 18px;
   padding-bottom: 16px;
   border-bottom: 1px solid #f1f1f1;
   position: relative;

a{
  display: inline-block;
  font-size: 16px;
  line-height: 1;
  color:#3b3b3b;
  text-transform: uppercase;
  text-decoration: none;

&:after{
   content: url('/images/arrow.png');
   display: inline-block;
   padding-top: 2px;
   position: absolute;
   right: 36px;
   bottom: 16px;
 }
}

&:hover{
   background-color: #ccc;
 }
}
}
