.product{
  display: block;
  border-right: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  padding-top: 19px;
  padding-bottom: 15px;

  &:nth-child(4n){
    border-right: 0;
  }


  &__title{
    font-size: 17px;
    color: #3b3b3b;
    display: block;
    text-decoration: underline;
    margin-top: 15px;
    margin-bottom: 16px;
    line-height: 26px;
    height: 48px;
    overflow: hidden;

    &:hover{
      text-decoration: none;
    }
  }

  &__mark{
    display: inline-flex;
    font-weight: 300;
    color:#848484;
    font-size: 14px;
    background: #f2f2f2;
    padding: 3px 22px;
    text-decoration: none;
    transition: .2s;

    &:hover{
      color: #fff;
      background: #ffc925;
    }
  }

  &__info{
    margin-bottom: 24px;
    display: flex;
    align-items: center;
  }

  &__rating{
    display: flex;
    align-items: center;

    span {
      width: 15px;
      height: 14px;
      margin-right: 5px;
    }
    span.ratedOff{
      background: url("../images/product/star_rated_off.png");
    }

    span.ratedOn{
      background: url("../images/product/star_rated_on.png");
    }
  }

  &__comments{
    color: #9b9b9b;
    font-size: 13px;
    text-decoration: underline;
    margin-left: 10px;
  }

  &__quantity{
    color: #757575;
    font-size: 12px;
    margin-left: auto;
  }

  &__preview{
    display: flex;
    position: relative;
  }

  &__labels{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
  }

  &__label{
    display: block;
    text-align: center;

    &:not(:last-child){
      margin-bottom: 15px;
    }
  }

  &__labelIcon{
    max-height: 40px;
  }

  &__labelTitle{
    margin-top: 10px;
    text-align: center;
    color: #91959a;
    font-size: 10px;
    text-transform: uppercase;
  }

  &__preview{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 205px;
  }

  &__picture{
    max-height: 100%;
  }

  &__price{
    margin-top: 1px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__priceNew{
    display: flex;
    align-items: flex-end;
    margin-top: 2px;
    color: #3b3b3b;
    font-size: 30px;
    font-weight: 900;
    font-style: italic;
    line-height: 1;

    span{
      font-size: 18px;
      text-transform: uppercase;
    }
  }

  &__priceOld{
    color: #989898;
    font-weight: 900;
    font-style: italic;
    font-size: 16px;
    text-decoration: line-through;
    text-decoration-color: #e00000;
  }

  &__actions{
    margin-top: -7px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    height: 49px;

  }

  &__action{
    width: 74px;
    min-height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 10px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-right: 10px;

    &_new{
      background: url('../images/product/action_green.png');
      box-shadow: 0 5px 12px rgba(46, 182, 142, 0.5);
    }

    &_hit{
      background: url('../images/product/action_violet.png');
      box-shadow: 0 5px 12px rgba(98, 28, 148, 0.5);
    }

    &_discont{
      background: url('../images/product/action_red.png');
      box-shadow: 0 5px 12px rgba(189, 17, 41, 0.5);
    }

  }


  &__buy{
    margin: 22px auto 0;
    min-width: 210px;
    background: linear-gradient(to right, #ff8500, #ffae00);

    span{
      padding-left: 15px;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
    }

    &:hover{
      background: url('../images/product/buy_button_gradient_hover.png');
      cursor: pointer;
    }
  }

  &__using{
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
  }

  &__usingItem{
    a{
      display: inline-flex;
      justify-content: center;
      align-items: center;
      color: #3b3b3b;
      font-size: 14px;
      font-weight: 400;

      span{
        margin-left: 10px;
      }

      &:hover{
        text-decoration: none;
      }
    }

  }

  &:hover{
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, .23);
  }
}

