.productcards
  .container
    .row.justify-content-between
      .col-3.productcards__title
        h2
          span Карточки товаров
      .col-2.productcards__catlink
        a.d-flex.justify-content-end(href='#') Ссылка в каталог
    .row.justify-content-between
      .col-3.productcards__item
        .item__mark Mark
        a.item__title(href='#')
        | Антифриз Fosser Antifreeze FA 12 Readymix 1 л Concentrat, Germany
        .d-flex.justify-content-between.ratings__comments
          .item__raiting
            img(src='/images/rating1.png')
          a.item__comments(href='#') Отзывы (10)
          .item__quanity В наличии: 24 шт.
        .d-dlex.justify-content-between.char__image
          .d-flex.char__list
            .item__season
              img(src='/images/item_season1.png')
            .item__type
              img(src='/images/item_type1.png')
            .item__cond
              img(src='/images/item_cond1.png')
          .item__pic
            img(src='/images/product1.jpg')
      .col-3.productcards__item
      .col-3.productcards__item
      .col-3.productcards__item
