.productcards{
  padding-top: 25px;
  height: 712px;

  .productcards__title{
    span{
      display: inline-block;
      position: relative;
      font-size: 36px;
      color: #3b3b3b;
      font-weight: 400;
      line-height: 40px;
      margin-bottom: 12px;

      &:after{
        position: absolute;
        top: 52px;
        display: block;
        content: '';
        width: 100%;
        border: 1px solid #ff8500;
        z-index: 5;
      }
    }
  }

  .productcards__catlink{
    a{
      display: block;
      text-align: right;
      padding: 19px 0 0 15px;
      font-size: 14px;
      color: #000;
      &:after{
        display: block;
        content: url('../images/red_arrow.png');
        margin: -2px -11px 0 10px;
      }

      &:hover{
        color: #ffc925;
      }

    }

  }


    .productcards__item{
      display: block;
      height: 500px;
      border: 1px solid #dbdbdb;
      padding-top: 20px;

      .item__mark{
        display: inline-block;
        font-weight: 300;
        color:#848484;
        font-size: 14px;
        line-height: 14px;
        background: #f2f2f2;
        padding: 4px 23px;
      }

      a.item__title{
        font-size: 17px;
        color: #3b3b3b;
        height: 44px;
        width: 100%;
        display: block;
      }

      .ratings__comments{
        .item__raiting{
          display: block;
        }

        a.item__comments{
          display: block;
        }

        .item__quanity{
          display: block;
        }
      }

      .char__image{

      }
    }
}