.filter
  ul.filter__tabs
    li.filter__tab
      a.filter__link.filter__link_active
        img.filter__pic(src='images/filter_tab1_active.png')
        .filter__title Ссылка 1
    li.filter__tab
      a.filter__link
        img.filter__pic(src='images/filter_tab2.png')
        .filter__title Ссылка 2
    li.filter__tab
      a.filter__link
        img.filter__pic(src='images/filter_tab3.png')
        .filter__title Ссылка 3
    li.filter__tab
      a.filter__link
        img.filter__pic(src='images/filter_tab4.png')
        .filter__title Ссылка 4
    li.filter__tab
      a.filter__link
        img.filter__pic(src='images/filter_tab5.png')
        .filter__title Ссылка 5

  ul.filter__blocks
    li.filter__block
      div.filter__innerTabs
        input#tab1(type='radio', name='tabs', checked='checked')
        label.filter__innerTab(for='tab1') Tab 1
        input#tab2(type='radio', name='tabs')
        label.filter__innerTab(for='tab2') Tab 2

        div.filter__innerBlock
          form.filter__innerBlocks
            .filter__selects
              .filter__selectsItem
                .filter__selector
                  select
                    option(selected) Select 1
                    option Опция 11
                    option Опция 12
              .filter__selectsItem
                .filter__selector
                  select
                    option(selected) Select 2
                    option Опция 21
                    option Опция 22
                    option Опция 23
              .filter__selectsItem
                .filter__selector
                  select
                    option(selected) Select 3
                    option Опция 31
                    option Опция 32
              .filter__selectsItem
                .filter__selector
                  select
                    option(selected) Select 4
                    option Опция 41
                    option Опция 42
              .filter__selectsItem
                .filter__selector
                  select
                    option(selected) Select 5
                    option Опция 51
                    option Опция 52
              .filter__selectsItem
                .filter__selector
                  select
                    option(selected) Select 6
                    option Опция 61
                    option Опция 62
              .filter__selectsItem
                .filter__selector
                  select
                    option(selected) Select 7
                    option Опция 71
                    option Опция 72

              .filter__selectsItem
                .filter__prices
                  .filter__pricesTitle Цена
                  .filter__pricesInputs
                    .filter__pricesInputGroup
                      input.filter__input
                    .filter__pricesInputGroup
                      input.filter__input

            .filter__buttons
              button.button.filter__reset
                span Очистить фильтр
              button.button.filter__submit
                span Применить фильтр

        div.filter__innerBlock.filter__innerBlock_active
          form.filter__innerBlocks
            .filter__selects
              .filter__selectsItem
                .filter__selector
                  select
                    option(selected) Select 1
                    option Опция 11
                    option Опция 12
              .filter__selectsItem
                .filter__selector
                  select
                    option(selected) Select 2
                    option Опция 21
                    option Опция 22
                    option Опция 23
              .filter__selectsItem
                .filter__selector
                  select
                    option(selected) Select 3
                    option Опция 31
                    option Опция 32
              .filter__selectsItem
                .filter__selector
                  select
                    option(selected) Select 4
                    option Опция 41
                    option Опция 42
              .filter__selectsItem
                .filter__selector
                  select
                    option(selected) Select 6
                    option Опция 61
                    option Опция 62
              .filter__selectsItem
                .filter__prices
                  .filter__pricesTitle Цена
                  .filter__pricesInputs
                    .filter__pricesInputGroup
                      input.filter__input
                    .filter__pricesInputGroup
                      input.filter__input
            .filter__buttons
              button.button.filter__reset
                span Очистить фильтр
              button.button.filter__submit
                span Применить фильтр
