.filter {
  margin-top: 20px;

  &__tabs {
    display: flex;
    justify-content: space-between;
    min-height: 74px;
    background: #606a76;
    padding-left: 8px;
    padding-right: 8px;
  }

  &__tab {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
  }

  &__link {
    display: inline-flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 2px solid #606a76;

    &:hover {
      cursor: pointer;
      border-bottom: 2px solid #ffc925;
    }
    &_active {
      border-bottom: 2px solid #ffc925;
    }
  }

  &__title {
    margin-left: 16px;
    font-weight: 900;
    font-size: 18px;
    color: #fff;
  }

  &__blocks {
    background-color: #696969;
    padding: 24px 36px;
  }

  &__toggle {
    display: flex;
    justify-content: space-around;
    width: 281px;
    height: 44px;
    margin-bottom: 10px;
    background-color: #efefef;
  }

  &__label {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 400;
    color: #696969;
    margin: 2px;

    &_active {
      color: #fff;
      background: #ff8900;
    }

    &:hover{
      cursor: pointer;
      color: #fff;
      background: #ff8900;
    }
  }

  &__radio {
    display: none;
  }

  &__selects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;

    &Item {
      width: 25%;
      padding: 10px;
    }
  }

  &__selector {
    display: block;
    height: 42px;
    border-bottom: 1px solid white;

    .jselector {
      height: 40px;
      background-color: #fff;

      position: relative;

      select{
        display: none;
      }

      .wrap {
        font-size: 14px;
        font-weight: 400;
        padding: 12px 0 16px 15px;
        border: none;
        outline: none;
        position: relative;
      }

      button {
        position: absolute;
        top: 8px;
        right: 25px;
        width: 25px;
        height: 25px;
        border: none;
        background: url('../images/red_dropdown.png') no-repeat center;
        font-size: 0;
      }

      .dropdown{
        display: none;
        position:absolute;
        left:0;
        right:0;
        top:100%;

      }

      &.is-shown {
        .dropdown {
          display: block;
          background-color: #fff;
          position:absolute;
          left: 0;
          right: 0;
          top:100%;
          z-index: 2;

          ul {
            list-style: none;
            border: none;

            li {
              padding:5px 10px;
              font-size: 14px;

              &.selected {
                background: #d2dae0;
              }

              &:hover {
                background: #ccc;
                cursor: pointer;
              }
            }
          }
        }
      }
    }

    &:nth-child(4) {
      margin-right: 0;
    }

    &:hover {
      border-bottom: 1px solid #ff8500;
    }
  }

  &__prices {
    display: flex;
  }

  &__pricesTitle {
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 42px;
    color: #fff;
    padding-right: 13px;
  }

  &__pricesInputs {
    display: flex;
  }

  &__pricesInputGroup {
    display: inline-flex;
    height: 42px;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 1px solid white;

    &:hover {
      border-bottom: 1px solid #ff8500;
    }
  }

  &__input {
    display: block;
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    text-align: center;
    background-color: #fff;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    background: #696969;
  }

  &__reset {
    background-color: #ff4800;
    font-size: 14px;
    font-weight: 400;

    &:hover {
      background: #ff8900;
    }

    &:before {
      display: block;
      margin-right: 10px;
      margin-top: 3px;
      content: url("../images/close.png");
    }
  }

  &__submit {
    background-image: linear-gradient(to right, #ff8500 0%, #ffae00 100%);
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;

    &:hover {
      background: #ff8900;
    }
  }
}
