.filter
  ul.filter__tabs
    li.filter__tab.active
      a.filter__link
        img.filter__pic(src='images/filter_tab1_active.png')
        .filter__title Ссылка 1
    li.filter__tab
      a.filter__link
        img.filter__pic(src='images/filter_tab2.png')
        .filter__title Ссылка 2
    li.filter__tab
      a.filter__link
        img.filter__pic(src='images/filter_tab3.png')
        .filter__title Ссылка 3
    li.filter__tab
      a.filter__link
        img.filter__pic(src='images/filter_tab4.png')
        .filter__title Ссылка 4
    li.filter__tab
      a.filter__link
        img.filter__pic(src='images/filter_tab5.png')
        .filter__title Ссылка 5
  ul.filter__blocks
    li.filter__block
      form.filter__options
        .filter__toggle
          label.filter__label
            input.filter__radio(type='radio')
            i
            span.filter__label_title Tab 1
          label.filter__label.active
            input.filter__radio(type='radio')
            i
            span.filter__label_title Tab 2
        .filter__selects
          .filter__selector
            select
              option(selected) Select 1
              option Опция 11
              option Опция 12
          .filter__selector
            select
              option(selected) Select 2
              option Опция 21
              option Опция 22
              option Опция 23
          .filter__selector
            select
              option(selected) Select 3
              option Опция 31
              option Опция 32
          .filter__selector
            select
              option(selected) Select 4
              option Опция 41
              option Опция 42
          .filter__selector
            select
              option(selected) Select 6
              option Опция 61
              option Опция 62
          .filter__prices
            label
              .filter__pricesTitle Цена
              input.filter__price
              input.filter__price
      .filter__buttons
        input(type='submit', value='Очистить фильтр', class='filter__reset')
        input(type='submit', value='Применить фильтр', class='filter__submit')



