.modal-form-close
form.callback__form
  .callback__form-wrapper
    .callback__title Перезвоните мне
    label.callback__label
      span Номер телефона
      input.callback__phone
    button.button.callback__submit Перезвоните мне

