header
    .topline
      .container.nav-entrance
        ul.nav
            li.nav__item
              a.nav__link(href='#') Главная
            li.nav__item.active
              a.nav__link(href='#') О компании
            li.nav__item
              a.nav__link(href='#') Ссылка 1
            li.nav__item
              a.nav__link(href='#') Ссылка 2
            li.nav__item
              a.nav__link(href='#') Ссылка 3
        .entrance
            a(href='#') Вход
    .logoline
        .container
            .row
                .col-3.toplogo
                    a(href='/')
                        img(src='./images/logo_top.png', alt='Logo')
                .col-9
                    .row.justify-content-between
                        .col-7
                            .topcontacts
                                span.topcontacts__item +380 98 170 00 740
                                span.topcontacts__item +380 98 170 00 740
                                button.topcontacts__button
                                    span Перезвонить мне
                        ul.col-4
                            .basketblock
                                li.basketblock__item
                                    img(src='./images/ico_compare.png', alt='')
                                    span Сравнение
                                li.basketblock__item
                                    img(src='./images/ico_favorite.png', alt='')
                                    span Избранное
                                li.basketblock__item
                                    img.quantity(src='./images/ico_basket_quantity.png', alt='')
                                    img(src='./images/ico_basket.png', alt='')
                                    span Корзина
