header.main-header
    .main-header__top
      .container.main-header__nav
        include ../nav/nav
        .main-header__auth-btn
          a(href='#') Вход
    .main-header__bottom
      .container
        .row
          .col-3.top-logo
              a(href='/')
                  img(src='./images/logo_top.png', alt='Logo')
          .col-9
            .row.justify-content-between
              .col-7
                include ../top-contacts/top-contacts
              ul.col-4
                .main-header__actions
                  li.main-header__actions-item
                    img(src='./images/ico_compare.png', alt='')
                    span Сравнение
                  li.main-header__actions-item
                    img(src='./images/ico_favorite.png', alt='')
                    span Избранное
                  li.main-header__actions-item.main-header__actions-item_cart
                    img.quantity(src='./images/ico_basket_quantity.png', alt='')
                    img(src='./images/ico_basket.png', alt='')
                    span Корзина
