header.main-header
  .container.main-header__container
    include ../top-logo/top-logo
    .main-header__nav
      include ../nav/nav
    button.main-header__auth-btn(onclick="showTask('modal-enter')") Вход
    include ../menu-toggle/menu-toggle
