header.main-header
  .container.main-header__nav
    include ../top-logo/top-logo
    include ../nav/nav
    button.main-header__auth-btn(onclick="showTask('modal-enter')") Вход
    include ../menu-toggle/menu-toggle
