.main-header {
  margin-bottom: 26px;
  background: #696969;
  min-height: 50px;

  .top-logo{
    display: none;

    @media(max-width: 1200px){
      display: block;
      padding-top: 7px;
      margin: 0;
    }

    @media(max-width: 420px){
      display: none;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  &__nav{
    @media(max-width: 992px){
      position: absolute;
      top: auto;
      right: 15px;
      bottom: 100%;
      background: #000;
      transition: .4s;
    }

    .nav{
      @media (max-width: 992px){
        flex-direction: column;
      }
    }
    &.is-open{
      top: 100%;
      bottom: auto;
      z-index: 5;
    }
  }

  &__auth-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 0;
    border: 0;
    background-color: #ff8900;
    padding: 5px 36px;
    min-height: 50px;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;

    &:before{
      margin-top: -1px;
      margin-right: 8px;
      content:url(../images/ico_entrance.png);
    }

    @media(max-width: 540px){
      padding: 5px 10px;
    }

    &:hover{
      cursor: pointer;
      background-color: #ffc925;
    }
  }

  &__actions {
    display: flex;
    justify-content: space-around;

    &-item{
      display: flex;
      position: relative;
      align-items: flex-start;
      justify-content: center;
      height: 64px;
      padding-left: 25px;
      padding-right: 25px;

      @media (max-width: 1200px){
        padding-left: 10px;
        padding-right: 10px;
      }


      img.quantity{
        display: block;
        position: absolute;
        top: -27px;
        left: 8px;
      }

      img {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: 0 auto;
      }

      span {
        display: block;
        color: #3d3d3d;
        font-size: 10px;
        text-transform: uppercase;
        text-align: center;
        margin: 42px auto 0;
      }

      &:nth-child(2) {
        border-left: 1px solid #e4e4e4;
        border-right: 1px solid #e4e4e4;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}
