$images: (
  action_discont: (x: 0px, y: 0px, width: 74px, height: 26px),
  action_hit: (x: -76px, y: 0px, width: 74px, height: 26px),
  action_new: (x: 0px, y: -28px, width: 74px, height: 26px),
  ico_basket: (x: -40px, y: -92px, width: 40px, height: 35px),
  ico_basket_quantity: (x: -152px, y: 0px, width: 34px, height: 32px),
  ico_compare: (x: 0px, y: -56px, width: 45px, height: 34px),
  ico_entrance: (x: -131px, y: -28px, width: 16px, height: 15px),
  ico_favorite: (x: -82px, y: -92px, width: 34px, height: 33px),
  ico_phone: (x: -97px, y: -56px, width: 12px, height: 17px),
  ico_reset_form: (x: -111px, y: -56px, width: 13px, height: 13px),
  product_addtobasket: (x: -152px, y: -93px, width: 28px, height: 24px),
  product_addtofavorite: (x: -152px, y: -62px, width: 30px, height: 29px),
  product_car: (x: -76px, y: -28px, width: 53px, height: 26px),
  product_compare: (x: -152px, y: -34px, width: 34px, height: 26px),
  product_new: (x: -47px, y: -56px, width: 48px, height: 25px),
  product_sun: (x: 0px, y: -92px, width: 38px, height: 38px),
);
