$images: (
  action_green: (x: 0px, y: -117px, width: 74px, height: 26px),
  action_red: (x: 0px, y: -145px, width: 74px, height: 26px),
  action_violet: (x: -76px, y: -117px, width: 74px, height: 26px),
  ico_basket: (x: 0px, y: -173px, width: 40px, height: 35px),
  ico_basket_quantity: (x: -197px, y: -75px, width: 34px, height: 32px),
  ico_compare: (x: -133px, y: -78px, width: 45px, height: 34px),
  ico_entrance: (x: -86px, y: -173px, width: 16px, height: 15px),
  ico_favorite: (x: -197px, y: -40px, width: 34px, height: 33px),
  ico_phone: (x: -180px, y: -78px, width: 12px, height: 17px),
  ico_reset_form: (x: -180px, y: -97px, width: 13px, height: 13px),
  logo_bottom: (x: 0px, y: -39px, width: 195px, height: 37px),
  logo_develop: (x: -42px, y: -173px, width: 42px, height: 15px),
  logo_top: (x: 0px, y: 0px, width: 195px, height: 37px),
  logo_top_mobi: (x: 0px, y: -78px, width: 131px, height: 37px),
  menu_arrow: (x: -182px, y: -117px, width: 8px, height: 14px),
  product_addtobasket: (x: -152px, y: -117px, width: 28px, height: 24px),
  product_addtofavorite: (x: -197px, y: -137px, width: 30px, height: 29px),
  product_car: (x: -76px, y: -145px, width: 53px, height: 26px),
  product_compare: (x: -197px, y: -109px, width: 34px, height: 26px),
  product_new: (x: -131px, y: -145px, width: 48px, height: 25px),
  product_sun: (x: -197px, y: 0px, width: 38px, height: 38px),
  red_arrow: (x: -197px, y: -168px, width: 15px, height: 3px),
);
