.container.top
  .top__menu
    include ../top-logo/top-logo
    include ../menu/menu
  .top__main
    .top__mainHeader
      .top__mainContacts
        include ../top-contacts/top-contacts
      .top__mainActions
        .left-menu
          button.left-menu__header(data-target='.menu')
            .left-menu__toggle
              span
            .left-menu__title Меню
          include ../menu/menu
        ul.main-header__actions
          li.main-header__actions-item
            .sprite.sprite__ico_compare
            span Сравнение
          li.main-header__actions-item
            .sprite.sprite__ico_favorite
            span Избранное
          li.main-header__actions-item
            .sprite.sprite__ico_basket_quantity
            .sprite.sprite__ico_basket
            span Корзина
    include ../search/search
    include ../filter/filter
