.top {
  display: flex;

  @media(max-width: 992px){
    padding-top: 75px;
  }

  &__menu {
    width: 25%;
    padding-right: 20px;

    @media (max-width: 1200px){
      display: none;
    }
  }
  &__main {
    width: 75%;

    @media (max-width: 1200px){
      width: 100%;
    }
  }

  &__mainContacts{
    @media (max-width: 992px) {
      width: 100%;
    }
  }
  &__mainActions {
    padding-top: 7px;
    display: flex;

    @media (max-width: 992px){
      width: 100%;
      justify-content: space-between;
    }

    @media (max-width: 440px){
      flex-direction: column-reverse;
    }
    // это левое меню в корзине
    .menu__header{
      display: none;
      min-width: 160px;

      @media (max-width: 1200px) {
        display: flex;
      }

      @media (max-width: 440px){
        margin-top: 20px;
        width: 100%;
      }
    }

    .menu__title{
      padding: 16px 23px;
    }
  }
  &__mainHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 28px;

    @media(max-width: 992px){
      flex-wrap: wrap;
    }

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
}
