.container.top
  .top__menu
    include ../top-logo/top-logo
    include ../menu/menu
  .top__main
    .top__mainHeader
      .top__mainContacts
        include ../top-contacts/top-contacts
      .top__mainActions
        header.menu__header
          .menu__toggle
            img(src='./images/burger.png', alt='')
          .menu__title Меню
        ul.main-header__actions
          li.main-header__actions-item
            img(src='./images/ico_compare.png', alt='')
            span Сравнение
          li.main-header__actions-item
            img(src='./images/ico_favorite.png', alt='')
            span Избранное
          li.main-header__actions-item.main-header__actions-item_cart
            img.quantity(src='./images/ico_basket_quantity.png', alt='')
            img(src='./images/ico_basket.png', alt='')
            span Корзина
    include ../search/search
    include ../filter/filter
