.top {
  padding-top: 36px;
  padding-left: 15px;
  padding-right: 15px;

  &__container{
    display: flex;
  }

  &__menu{
    width: 25%;
    padding-right: 20px;

    @media (max-width: 992px){
      display: none;
    }
  }

  &__main{
    width: 75%;

    @media(max-width: 992px){
      width: 100%;
    }

  }

  &__mainHeader{
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;

    @media(max-width: 992px){
      margin-bottom: 0;
    }

    .top-logo{
      display: none;

      @media(max-width: 992px){
        display: flex;
      }
    }

  }

  &__mainContacts{

  }

  .top-logo{
    padding-top: 5px;
    min-height: 50px;
    margin-bottom: 39px;
  }
}



