.top {
  display: flex;
  padding-top: 36px;

  &__menu {
    width: 25%;
    padding-right: 20px;

    @media (max-width: 992px){
      display: none;
    }
  }
  &__main {
    flex-grow: 1;
  }
  &__mainActions {
    @media (max-width: 768px) {
      margin-top: 32px;
    }
  }
  &__mainHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
}
