.top
  .container
    .row
      .col-3.menu
        .menu__header
          .burger
            img(src='/images/burger.png', alt='')
          .menu__title Меню
        ul.menu
          li.menu__item
            a(href='#') Ссылка 1
          li.menu__item
            a(href='#') Ссылка 2
          li.menu__item
            a(href='#') Ссылка 3
          li.menu__item
            a(href='#') Ссылка 4
          li.menu__item
            a(href='#') Ссылка 5
          li.menu__item
            a(href='#') Ссылка 6
          li.menu__item
            a(href='#') Ссылка 7
      .col-9.search__filter
        .search
          form.topsearch(action='#')
            input(type='text', placeholder='Поиск по сайту')
            .topsearch__select
              select
                option(selected='') Все категории
                option Категория 1
                option Категория 2
            button.topsearch__submit Поиск
        .filter
