footer{
  background: #696969;

  .subscribe__bottommenu{
    padding-top: 31px;
    border-bottom: 1px solid #7a7a7a;

    .subscribe{

      p.white_color{
        line-height: 23px;
        margin-top: 29px;
        margin-bottom: 9px;
        font-weight: 700;
        font-size: 20px;
        color: #cbcbcb;
        text-transform: uppercase;
      }

      p.gray_color{
        line-height: 26px;
        font-size: 26px;
        font-weight: 900;
        color: #fff;
        text-transform: uppercase;
        margin-bottom: 13px;
      }

      p{
        margin: 0;
      }

      form.subscribeform{
        display: flex;

        input[type="text"]{
          height: 50px;
          width: 406px;
          border: none;
          outline: none;
          background: #f5f5f5;
          font-size: 14px;
          color: #9c9c9c;
          padding-left: 30px;
          margin-bottom: 40px;
        }

        button.subscribeform__submit{
          border:none;
          outline: none;
          background: #ff8900;
          font-weight: 700;
          color: white;
          font-size: 16px;
          text-transform: uppercase;
          height: 50px;
          width: 170px;

          &:hover{
            background-color: #ffc925;
            cursor: pointer;
          }
        }
      }
    }

    .bottommenu{
      .bottommenu__links{
        ul.bottommenu__links__list{
          margin-top: 26px;

          li.bottommenu__links__list__item{
            margin-bottom: 15px;

            a{
              font-size: 14px;
              color: #fff;

              &:hover{
                color: #ffc925;
              }
            }
          }
        }

      }
    }
  }

  .bottomlogo__socialmedia{
    .bottomlogo{
      margin-bottom: 16px;
      margin-top: 31px;

      a{
        display: block;
        padding-right: 23px;
      }
    }

    span.copy{
      font-size: 12px;
      color: #a0a9b2;
      display: block;
      border-left: 1px solid #7a7a7a;
      padding: 11px 15px;
    }

    .socialmedia__wezom{
      ul.socialmedia__list{
        margin-top: 27px;

        li{

          a{
            display: block;
            width: 49px;
            height: 49px;
            border: 1px solid #7b8092;
            text-decoration: none;
            color: #fff;
            text-align: center;
            line-height: 49px;
            margin-right: 10px;

            &:hover{
              color: #ffc925;
              border: 1px solid #ffc925;
            }
          }
        }
      }

      .wezom{
        margin-top: 23px;

        .logo_w{
          margin-top: 22px;
          display: block;
          margin-right: 19px;

          img{
            margin: 0 auto;
            display: block;
            width: 42px;
            height: 15px;
          }
        }

        .test{
          height: 49px;
          padding-left: 19px;
          display: block;
          border-left: 1px solid #7a7a7a;

          span.white{
            font-size: 12px;
            display: block;
            color: #fff;
          }

          span.gray{
            padding-top: 10px;
            white-space: nowrap;
            font-size: 12px;
            display: block;
            color: #a0a9b2;
          }
        }
      }
    }
  }
}