footer
    .subscribe__bottommenu
      .container
        .row
          .col-5.subscribe
            .bottomtitle
              span Блок 1
            p.newsstyle Будьте в курсе новостей и новинок!
            p.subscribestyle Подписывайтесь на рассылку
              form.justify-content-between.subscribeform(action='#')
                  input(type='text', placeholder='Укажите свой email для подписки')
                  button.subscribeform__submit Подписаться


    .logo__socialmedia