footer.main-footer
    .container
      .main-footer__top
        .row.justify-content-between
          .col-lg-6.col-xl-5
            h3.bottomtitle
              span Блок 1
            form.subscribe(action='#')
              .subscribe__content_white Будьте в курсе новостей и новинок!
              .subscribe__content_gray Подписывайтесь на рассылку
              .subscribe__form
                input.subscribe__field(placeholder='Укажите свой email для подписки')
                button.subscribe__submit Подписаться

          .col-lg-6
            .row.justify-content-between
              .col-sm-6.col-md-4
                .bottom-menu
                  h3.bottom-menu__header.bottomtitle
                    span Блок ссылок 1
                  ul.bottom-menu__list
                    li.bottom-menu__item
                      a.bottom-menu__link(href='#') Ссылка 1
                    li.bottom-menu__item
                      a.bottom-menu__link(href='#') Ссылка 2
                    li.bottom-menu__item
                      a.bottom-menu__link(href='#') Ссылка 3
                    li.bottom-menu__item
                      a.bottom-menu__link(href='#') Ссылка 4

              .col-sm-6.col-md-4
                .bottom-menu
                  h3.bottom-menu__header.bottomtitle
                    span Блок 2
                  ul.bottom-menu__list
                    li.bottom-menu__item
                      a.bottom-menu__link(href='#') Ссылка 1
                    li.bottom-menu__item
                      a.bottom-menu__link(href='#') Ссылка 2
                    li.bottom-menu__item
                      a.bottom-menu__link(href='#') Ссылка 3
                    li.bottom-menu__item
                      a.bottom-menu__link(href='#') Ссылка 4

              .col-sm-6.col-md-4
                .bottom-menu
                  h3.bottom-menu__header.bottomtitle
                    span Блок ссылок 3
                  ul.bottom-menu__list
                    li.bottom-menu__item
                      a.bottom-menu__link(href='#') Ссылка 1
                    li.bottom-menu__item
                      a.bottom-menu__link(href='#') Ссылка 2
                    li.bottom-menu__item
                      a.bottom-menu__link(href='#') Ссылка 3
                    li.bottom-menu__item
                      a.bottom-menu__link(href='#') Ссылка 4

      .main-footer__bottom
        .row.justify-content-center
          .col-lg-6
            .bottom-logo
              a(href='#')
                img(src='./images/logo_bottom.png', alt='Logo bottom')
              .bottom-logo__copy &copy; Copyrith 2018. Тестовое задание Wezom

          .col-lg-6
            .row
              .col-lg-6
                include ../social-media/social-media
              .col-lg-6
                .developer
                  .developer__logo(src='./images/logo_w.png', alt='Logo W')
                  .developer__content
                    .developer__content-gray Разработка тестового
                    .developer__content-white Wezom Agency
