.main-footer{
  background: #696969;

  &__top{
    padding-top: 31px;
    border-bottom: 1px solid #7a7a7a;

    .subscribe{
      display: flex;
      flex-direction: column;
      margin-bottom: 40px;

      &__content_white{
        display: block;
        line-height: 23px;
        margin-top: 30px;
        margin-bottom: 8px;
        font-weight: 700;
        font-size: 20px;
        color: #cbcbcb;
        text-transform: uppercase;
      }

      &__content_gray{
        display: block;
        line-height: 26px;
        font-size: 26px;
        font-weight: 900;
        color: #fff;
        text-transform: uppercase;
        margin-bottom: 13px;
      }

      &__form{
        display: flex;
        justify-content: space-between;
      }

      &__field{
        display: inline-flex;
        height: 50px;
        width: 406px;
        border: none;
        outline: none;
        background: #f5f5f5;
        font-size: 14px;
        color: #9c9c9c;
        padding-left: 30px;
      }

      &__submit{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border:none;
        outline: none;
        background: #ff8900;
        font-weight: 700;
        color: white;
        font-size: 16px;
        text-transform: uppercase;
        height: 50px;
        width: 170px;

        &:hover{
          background-color: #ffc925;
          cursor: pointer;
        }
      }
    }

    .bottom-menu{
      margin-top: 26px;

      &__item{
        margin-bottom: 15px;
      }

      &__link{
        font-size: 14px;
        color: #fff;

        &:hover{
          color: #ffc925;
        }
      }
    }
  }

  &__bottom{

    .bottom-logo{
      margin-bottom: 16px;
      margin-top: 31px;
      display: flex;

      a{
        display: block;
        padding-right: 23px;
      }

      &__copy{
        font-size: 12px;
        color: #a0a9b2;
        display: block;
        border-left: 1px solid #7a7a7a;
        padding: 11px 15px;
      }
    }

    .wezom{
      margin-top: 23px;
      display: flex;

      &__logo{
        margin-top: 22px;
        display: block;
        margin-right: 19px;
        width: 42px;
        height: 15px;
      }

      &__content{
        height: 49px;
        padding-left: 19px;
        display: block;
        border-left: 1px solid #7a7a7a;

        &-white{
          font-size: 12px;
          display: block;
          color: #fff;
        }

        &-gray{
          padding-top: 10px;
          white-space: nowrap;
          font-size: 12px;
          display: block;
          color: #a0a9b2;
        }
      }
    }
  }
}




