.modal.modal_lg
  .modal__content.modal__content_noGutters_horizontal.enter
    .modal__close
    .modal__content.modal__content_noGutters_vertical.enter__delimiter
      form.enter__form
        .modal__title Вход в личный кабинет
        label.enter__label Ваш email
        input.enter__field
        label.enter__label
          span Пароль
          input.enter__field(type='password')
        label.enter__checkbox(for='remembe-me')
        input#remembe-me(type='checkbox')
        label
          i
          span  Запомнить меня
        .enter__links
          a.enter__link(href='#') Забыли пароль?
          a.enter__link(href='#') Регистрация
        button.button.enter__submit Войти в личный кабинет
    .modal__content.modal__content_noGutters_vertical
      .enter__socials
        .modal__title Войти с помощью
        button.button.button_block.button-facebook
          i.fab.fa-facebook-f
          span Facebook
        button.button.button_block.button-twitter
          i.fab.fa-twitter
          span Twitter
        button.button.button_block.button-google
          i.fab.fa-google
          span Google
