.wrapper{
  display: none;
}

.enter{
  margin-top: 306px;
  margin-left: -34px;
  display: flex;
  position: absolute;
  left:50%;
  transform: translateX(-50%);
  width: 757px;
  height: 433px;
  background-color: #ffffff;
  border: 1px solid #dbdbdb;

  &__cabinet{
    width: 383px;
    margin: 29px 0;
  }

  &__form-wrapper{
    padding: 0 40px;
  }

  &__delimiter{
    border-right: 1px solid #dbdbdb;
  }

  &__title{
    color: #3b3b3b;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 22px;
  }

  &__label{
    color: #3b3b3b;
    font-size: 14px;
    font-weight: 400;
  }

  &__field{
    margin: 11px 0 14px;
    width: 301px;
    height: 40px;
    border: 1px solid #d2d2d2;
    background-color: #ffffff;
  }

  &__checkbox{
    display: flex;
    margin-top: 14px;
    color: #3d3d3d;
    font-size: 14px;
    font-weight: 400;

    input[type="checkbox"]{
      display: none;
    }

    i{
      width: 16px;
      height: 16px;
      border: 1px solid #d2d2d2;
      background-color: #ffffff;
      margin-right: 7px;
    }
  }

  &__links{
    display: flex;
    margin-top: 24px;
  }

  &__link{
    color: #3d3d3d;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    text-decoration: underline;
    margin-right: 20px;


    &:hover{
      color: #ff8900;
    }
  }

  &__submit{
    width: 210px;
    background-color: #afb9c6;

    &:hover{
      background: #ff8900;
    }
  }

  &__social-media{
    width: 370px;
    margin: 29px 0;
  }

  .button{
    margin-top: 24px;
  }

}


.button-facebook {
  width: 293px;
  background-color: #3b5998;

  span{
    margin-left: 15px;
  }
}

.button-twitter {
  width: 293px;
  background-color: #41abe1;

  span{
    margin-left: 15px;
  }
}

.button-google {
  width: 293px;
  background-color: #ea4335;

  span{
    margin-left: 15px;
  }
}
