.modal-form-close
form.enter__cabinet
  .enter__form-wrapper.enter__delimiter
    .enter__title Вход в личный кабинет
    label.enter__label
      span Ваш email
      input.enter__field
    label.enter__label
      span Пароль
      input.enter__field(type='password')
    label.enter__checkbox
      input(type='checkbox')
      i
      span  Запомнить меня
    .enter__links
      a.enter__link(href='#') Забыли пароль?
      a.enter__link(href='#') Регистрация
    button.button.enter__submit Войти в личный кабинет
.enter__social-media
  .enter__form-wrapper
    .enter__title Войти с помощью
    button.button.button-facebook
      i.fab.fa-facebook-f
      span Facebook
    button.button.button-twitter
      i.fab.fa-twitter
      span Twitter
    button.button.button-google
      i.fab.fa-google
      span Google
