form.search(action='#')
  input.search__field(placeholder='Поиск по сайту')
  .search__select
    select
      option(selected) Все категории
      option Категория 1
      option Категория 2
  button.search__submit Поиск
