ul.social-media
  li.social-media__item
    a.social-media__link(href='#')
      i.fab.fa-vk
  li.social-media__item
    a.social-media__link(href='#')
      i.fab.fa-facebook-f
  li.social-media__item
    a.social-media__link(href='#')
      i.fab.fa-twitter
  li.social-media__item
    a.social-media__link(href='#')
      i.fab.fa-youtube
