doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    link(rel='stylesheet', href='css/style.css')
    script.
      var FontAwesomeConfig = {
        searchPseudoElements: true
      };

    script(defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous")
    script(defer src='js/bundle.js')
    title Test - Responsive Template from Wezom
  body
    include components/main-header/main-header
    include components/top/top
    include components/products/products
    include components/footer/footer
    include components/scrollup/scrollup


    // Modals
    include components/callback/callback
    include components/enter/enter
