* {
  box-sizing: border-box;
  margin: 0;
  font-family: inherit;
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: none;
}

::placeholder {
  color: #fff;
}

::placeholder {
  font-size: 14px;
  color: #929292;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}



html,
body {
  min-height: 100%;
  height: 100%;
}

html {
  font: 400 17px/1.5 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

body {
  margin: 0;
  padding: 0;
  color: #363636;
  background: #fff;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

hr {
  border-top: 0;
  border-color: #8c8c8c;
}

a {
  color: inherit;
  cursor: default;
}

a[href] {
  cursor: pointer;
}

p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

textarea {
  resize: none;
}

address {
  font-style: normal;
}
