ul.nav
  li.nav__item
    a.nav__link(href='#') Главная
  li.nav__item
    a.nav__link.nav__link_active(href='#') О компании
  li.nav__item
    a.nav__link(href='#') Ссылка 1
  li.nav__item
    a.nav__link(href='#') Ссылка 2
  li.nav__item
    a.nav__link(href='#') Ссылка 3
