.modal-form-close{
  display: block;
  width: 29px;
  height: 29px;
  background-color: transparent;
  position: absolute;
  top: -45px;
  right: -45px;

  &:before{
    content:'';
    position: absolute;
    left:0;
    right:0;
    top: 0;
    height: 1px;
    width: 40px;
    background: #fff;
    transform-origin: top left;
    transform: rotate(45deg);
  }

  &:after{
    content:'';
    position: absolute;
    left:0;
    right:0;
    bottom: 0;
    height: 1px;
    width: 40px;
    background: #fff;
    transform: rotate(-45deg);
    transform-origin: bottom left;
  }
}
