header.main-header
  .container.main-header__container
    include ../top-logo/top-logo
    .main-header__nav
      include ../nav/nav
    button.main-header__auth-btn
      .sprite.sprite__ico_entrance
      span Вход
    include ../menu-toggle/menu-toggle
