.top-contacts {
  display: flex;
  min-height: 50px;
  background-color: #f5f5f5;
  font-weight: 700;
  font-style: italic;
  color: #151515;
  font-size: 16px;
  white-space: nowrap;
  margin-right: 10px;

  @media (max-width: 768px) {
    margin-right: 0;
  }

  @media (max-width: 580px) {
    flex-direction: column;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 31px;
    border: none;
    outline: none;
    background: #ff8900;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    color: #ffffff;

    &:before {
      content: url(/images/ico_phone.png);
      margin-right: 10px;
    }

    &:hover {
      background: #ffc925;
      cursor: pointer;
    }
  }
}
